In [1]:
#not a rocket sciencist, don't know what is going on in here

import pandas as pd    #library for data manipulation and analysis

In [2]:
#loading the CSV file and peek what is inside the Pandora's Box
df = pd.read_csv("Data.csv") 
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223409 entries, 0 to 223408
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   _id     223409 non-null  int64
 1   time    223409 non-null  object
 2   cno     223409 non-null  int64
 3   in      223409 non-null  int64
 4   out     223409 non-null  int64
dtypes: int64(4), object(1)
memory usage: 8.5+ MB

   _id                 time  cno  in  out
0    1  2016-05-10T11:00:00    3   2    9
1    2  2016-05-10T10:00:00    3   7   12
2    3  2016-05-10T00:00:00    3   0    0
3    4  2016-05-10T19:00:00    3   0    1
4    5  2016-05-10T18:00:00    3   0    0

In [3]:
#Cleaning the data, and put time information into "date" and "hours"
df[["date","hours"]]=df["time"].str.split("T",expand=True)
df['date_timedata']=df['date']
df['date'] = df['date'].str.replace('-','').astype('int')
df['hours'] = df['hours'].str.replace(':','').astype('int')

In [4]:
#sorting the value with date
df=df.sort_values(by=['date'], ascending=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223409 entries, 98864 to 223312
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   _id            223409 non-null  int64
 1   time           223409 non-null  object
 2   cno            223409 non-null  int64
 3   in             223409 non-null  int64
 4   out            223409 non-null  int64
 5   date           223409 non-null  int64
 6   hours          223409 non-null  int64
 7   date_timedata  223409 non-null  object
dtypes: int64(6), object(2)
memory usage: 15.3+ MB

In [6]:
#writing the value into another CSV to make the mini project look more complex
df.to_csv('CleanedDataInNoteBook.csv')