In [14]:
#not a rocket sciencist, don't know what is going on in here

import numpy as np     #library for mathematical functions and mulit-dimensional arrays
import pandas as pd    #library for data manipulation and analysis
import seaborn as sns  #library for statistical data visualization
import matplotlib.pyplot as plt
from matplotlib.ticker import FormatStrFormatter
import re #this might be regular expression or might be something else
from datetime import datetime    #library to work with time data

In [15]:
#loading the CSV file and peek what is inside the Pandora's Box
df = pd.read_csv("Data.csv") 
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223409 entries, 0 to 223408
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   _id     223409 non-null  int64
 1   time    223409 non-null  object
 2   cno     223409 non-null  int64
 3   in      223409 non-null  int64
 4   out     223409 non-null  int64
dtypes: int64(4), object(1)
memory usage: 8.5+ MB

   _id                 time  cno  in  out
0    1  2016-05-10T11:00:00    3   2    9
1    2  2016-05-10T10:00:00    3   7   12
2    3  2016-05-10T00:00:00    3   0    0
3    4  2016-05-10T19:00:00    3   0    1
4    5  2016-05-10T18:00:00    3   0    0

In [16]:
#Cleaning the data, and put time information into "date" and "hours"
df[["date","hours"]]=df["time"].str.split("T",expand=True)
df['date_timedata']=df['date']
df['date'] = df['date'].str.replace('-','').astype('int')
df['hours'] = df['hours'].str.replace(':','').astype('int')

In [17]:
#sorting the value with date
df=df.sort_values(by=['date'], ascending=True)

In [5]:
#writing the value into another CSV to make the mini project look more complex
df.to_csv('CleanedDataInNoteBook.csv')

In [18]:
#convert date from string into datatime(a data type in panda) 
df["date"] = pd.to_datetime(df["date"], format="%Y%m%d")
#check if I fuck up or not 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223409 entries, 98864 to 223312
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   _id            223409 non-null  int64
 1   time           223409 non-null  object
 2   cno            223409 non-null  int64
 3   in             223409 non-null  int64
 4   out            223409 non-null  int64
 5   date           223409 non-null  datetime64[ns]
 6   hours          223409 non-null  int64
 7   date_timedata  223409 non-null  object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 15.3+ MB

In [19]:
#grouping the data base on date
df=df.groupby(['date']).sum().reset_index()

In [ ]:
#prepare the data for graph
showdf=df[['date','in','out']]

In [ ]:
#check if I fuck up or not
print(showdf)

In [6]:
#plz work, just show me the graph
showdf.plot.line(x="date", y=["in", "out"])
plt.show()

           _id                 time  cno   in  out      date   hours  \
98864    98865  2015-07-06T23:00:00    3    1    4  20150706  230000
102321  102322  2015-07-06T20:00:00    6    0    4  20150706  200000
102322  102323  2015-07-06T22:00:00    6    0    8  20150706  220000
102318  102319  2015-07-06T17:00:00    6  149  166  20150706  170000
102317  102318  2015-07-06T16:00:00    6  142  211  20150706  160000

       date_timedata
98864     2015-07-06
102321    2015-07-06
102322    2015-07-06
102318    2015-07-06
102317    2015-07-06

          date       _id  cno    in   out     hours
0     20150706   2209494   96  1947  2957   3760000
1     20150707   3321620  150  1973  2645   4800000
2     20150708   3216350  141  3315  3360   4780000
3     20150709   3216864  141  3512  3333   4630000
4     20150710   2917130  129  3446  3367   4540000
...        ...       ...  ...   ...   ...       ...
1444  20190620  32077656  552  4519  4450  16560000
1445  20190621  32098392  552  5876  5726  16560000
1446  20190622  32119128  552  2613  2466  16560000
1447  20190623  32150289  552  1767  1661  16560000
1448  20190624  32150175  552  4607  4227  16560000

[1449 rows x 6 columns]

          date       _id  cno    in   out     hours
0     20150706   2209494   96  1947  2957   3760000
1     20150707   3321620  150  1973  2645   4800000
2     20150708   3216350  141  3315  3360   4780000
3     20150709   3216864  141  3512  3333   4630000
4     20150710   2917130  129  3446  3367   4540000
...        ...       ...  ...   ...   ...       ...
1444  20190620  32077656  552  4519  4450  16560000
1445  20190621  32098392  552  5876  5726  16560000
1446  20190622  32119128  552  2613  2466  16560000
1447  20190623  32150289  552  1767  1661  16560000
1448  20190624  32150175  552  4607  4227  16560000

[1449 rows x 6 columns]

NameError: name 'var' is not defined